html {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(50,50,50);
}

.container-fluid {
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    padding: 50px;
    margin-top: 50px;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

p#brand {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0px;
    color: #53BDFF;
    text-shadow: 0px 2px 2px black;
}

.game {
    margin: 50px 0;
}

.center {
    padding: 0 50px;
    font-size: 3rem;
}

.float {
    padding: 0 50px;
    font-size: 1.5rem;
    text-align: flex;
}